*{
    font-family: sans-serif;
}
body{
    background-color: seashell;
    margin: 0px;
}

.header{ 
    background-color: #2f3dc4; 
    display: flex; 
    justify-content: center; }

.animal{
    background-color: #23cf4d;
    padding: 5px;
}
.animal img{
    border: 2px solid #5dbeae;
    border-radius: 50px;
    margin-left: 20px;
}


.item1{
    background-color: pink;
    padding: 5px;
}
.item1 img{
    border: 2px solid #5dbeae;
    border-radius: 50px;
    margin-left: 20px;
}

.item2{
    background-color: brown;
    padding: 5px;
}
.item2 img{
    border: 2px solid #5dbeae;
    border-radius: 50px;
    margin-left: 20px;
}

.item3{
    background-color: greenyellow;
    padding: 5px;
}
.item3 img{
    border: 2px solid #5dbeae;
    border-radius: 50px;
    margin-left: 20px;
}

.item4{
    background-color: burlywood;
    padding: 5px;
}
.item4 img{
    border: 2px solid #5dbeae;
    border-radius: 50px;
    margin-left: 20px;
}

.item5{
    background-color: rgb(31, 93, 207);
    padding: 5px;
}
.item5 img{
    border: 2px solid #5dbeae;
    border-radius: 50px;
    margin-left: 20px;
}


#about{
    text-decoration: none;
    color: red;
}
#followus{
    text-decoration: none;
    color: red;
}
